<!DOCTYPE html>
<html>

<head>
  <title>駐輪場管理</title>
  <%- include("../common/stylesheets.ejs") %>
</head>

<body>
  <%- include("../common/header.ejs", {current: 'master'}) %>
  <div class="main">
    <div class="main__wrapper">
      <div class="area-admin-link">
        <a class="btn-base" href="/admin/bicycles/insert">登録</a>
      </div>
      <div class="admin__bicycles">
        <% if (bicycles) { %>
        <%  bicycles.forEach( bicycle => { %>
        <div class="admin__bicycle">
          <a class="btn-link" href="/admin/bicycles/update/<%= bicycle.id %>">
            <%= bicycle.id %>　<%= bicycle.name %><span
              class="dateinfo-small">　開始：<%= bicycle.ymd_start.slice(0,4) %>.<%= bicycle.ymd_start.slice(4,6) %>.<%= bicycle.ymd_start.slice(-2) %>　終了：<%= bicycle.ymd_end.slice(0,4) %>.<%= bicycle.ymd_end.slice(4,6) %>.<%= bicycle.ymd_end.slice(-2) %>　</span>
              <% if (bicycle.companyname) { %>
                <%= bicycle.companyname %>
              <% } %>
          </a>
        </div>
        <%  }) %>
        <% } %>
      </div>
      <!-- /.admin__bicycles -->
    </div>
    <!-- /.main__wrapper -->
  </div>
  <!-- /.main -->
</body>
<%- include("../common/javascripts.ejs") %>

</html>