<!DOCTYPE html>
<html>

<head>
  <title>キャビネット管理</title>
  <%- include("../common/stylesheets.ejs") %>
</head>

<body>
  <%- include("../common/header.ejs") %>
  <div class="main">
    <div class="main__wrapper">
      <a class="btn-base" href="/admin/cabinets/insert">登録</a>
      <ul>
        <% if (cabinets) { %>
        <%  cabinets.forEach( cabinet => { %>
        <li>
          <a href="/admin/cabinets/update/<%= cabinet.id %>">
            <%= cabinet.name %>（<%= cabinet.id %>）
          </a>
        </li>
        <%  }) %>
        <% } %>
      </ul>
    </div>
    <!-- /.main_wrapper -->
  </div>
  <!-- /.main -->
</body>
<%- include("../common/javascripts.ejs") %>
</html>