<!DOCTYPE html>
<html>

<head>
  <title>キャビネット管理</title>
  <%- include("../common/stylesheets.ejs") %>
</head>

<body>
  <%- include("../common/header.ejs") %>
  <a href="/admin/cabinets/insert">登録</a>
  <hr>
  <h1>キャビネット管理</h1>
  <ul>
    <% if (cabinets) { %>
    <%  cabinets.forEach( cabinet => { %>
    <li>
      <a href="/admin/cabinets/update/<%= cabinet.id %>">
        <%= cabinet.name %>（<%= cabinet.id %>）
      </a>
    </li>
    <%  }) %>
    <% } %>
  </ul>
</body>
<%- include("../common/javascripts.ejs") %>
</html>