<!DOCTYPE html>
<html>

<head>
  <title>キャビネット管理</title>
  <%- include("../common/stylesheets.ejs") %>
</head>

<body>
  <%- include("../common/header.ejs") %>
  <div class="main">
    <div class="main__wrapper">
      <div class="area-admin-link">
        <a class="btn-base" href="/admin/cabinets/insert">登録</a>
      </div>
      <div class="admin__cabinet">
        <% if (cabinets) { %>
          <%  cabinets.forEach( cabinet => { %>
          <a class="btn-link" href="/admin/cabinets/update/<%= cabinet.id %>">
            <%= cabinet.place %> <%= cabinet.name %><span class="dateinfo-small">　開始：<%= cabinet.ymd_start %>　終了：<%= cabinet.ymd_end %></span>
          </a>
          <%  }) %>
          <% } %>
      </div>
    </div>
    <!-- /.main_wrapper -->
  </div>
  <!-- /.main -->
</body>
<%- include("../common/javascripts.ejs") %>
</html>