<!DOCTYPE html>
<html>

<head>
  <title>入居番号管理</title>
  <%- include("../common/stylesheets.ejs") %>
</head>

<body>
  <%- include("../common/header.ejs") %>
  <div class="main">
    <div class="main__wrapper">
      <div class="area-link">
        <a class="btn-base" href="/admin/nyukyos/insert">登録</a>
      </div>
      <div class="admin__nyukyo">
          <% if (nyukyos) { %>
          <%  nyukyos.forEach( nyukyo => { %>
          <div>
            <a class="btn-link" href="/admin/nyukyos/update/<%= nyukyo.id %>">
              <%= nyukyo.id %>
            </a>
          </div>
          <%  }) %>
          <% } %>
      </div>
      <!-- /.admin_nyukyo -->
    </div>
    <!-- /.main__wrapper -->
  </div>
  <!-- /.main -->
</body>
<%- include("../common/javascripts.ejs") %>
</html>