<!DOCTYPE html>
<html>

<head>
  <title>入居番号管理（編集）</title>
  <%- include("../common/stylesheets.ejs") %>
</head>

<body>
  <%- include("../common/header.ejs", {current: 'master'}) %>
  <div class="main">
    <div class="main__wrapper">
      <div class="area-admin-link">
        <a class="btn-base" href="/admin/nyukyos">戻る</a>
      </div>
      <% if (message && message.length !== 0) { %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
      <% } %>
      <div class="admin__nyukyo">
        <form name="nyukyoform" method="POST">
          <dl>
          <% if (mode === 'insert') { %>
          <dt>入居番号</dt>
          <dd><input class="form__item-style" type="text" name="id" required></dd>
          <div class="form__btn">
            <input class="btn-base" type="button" id="btn_insert" value="登録">
            <% } else { %>
            <dt>入居番号</dt>
            <dd><input class="form__item-style bg-input-disabled" type="text" name="id" value="<%= nyukyo.id %>" disabled></dd>
            <dt>適用開始日</dt>
            <dd><input class="form__item-style flatpickr" type="text" name="ymd_start" value="<%= nyukyo.ymd_start %>"></dd>
            <dt>適用終了日</dt>
            <dd><input class="form__item-style flatpickr" type="text" name="ymd_end" value="<%= nyukyo.ymd_end %>"></dd>
            <input type="hidden" name="id" value="<%= nyukyo.id %>">
            <input type="hidden" name="before_ymd_end" value="<%= nyukyo.ymd_end %>">
            <div class="form__btn">
              <input class="btn-base" type="button" id="btn_update" value="更新">
              <input class="btn-base" type="button" id="btn_delete" value="削除">
              <% } %>
            </div>
            <input type="hidden" id="field_mode">
          </dl>
        </form>
      </div>
    </div>
    <!-- /.main__wrapper -->
  </div>
  <!-- /.main -->
  <script>
    let insertbtn = document.getElementById("btn_insert");
    if (insertbtn) {
      insertbtn.addEventListener("click", function () {
        document.nyukyoform.action = "/admin/nyukyos/insert";
        document.nyukyoform.submit();
      })
    }
    let updatebtn = document.getElementById("btn_update");
    if (updatebtn) {
      updatebtn.addEventListener("click", function () {
        document.nyukyoform.action = "/admin/nyukyos/update";
        document.nyukyoform.submit();
      })
    }
    let deletebtn = document.getElementById("btn_delete");
    if (deletebtn) {
      deletebtn.addEventListener("click", function () {
        document.nyukyoform.action = "/admin/nyukyos/delete";
        document.nyukyoform.submit();
      })
    }
  </script>
</body>
<%- include("../common/javascripts.ejs") %>

</html>