<!DOCTYPE html>
<html>

<head>
  <title>部屋管理</title>
  <%- include("../common/stylesheets.ejs") %>
</head>

<body>
  <%- include("../common/header.ejs") %>
  <a href="/admin/rooms/insert">登録</a>
  <hr>
  <h1>部屋管理</h1>
  <ul>
    <% if (rooms) { %>
    <%  rooms.forEach( room => { %>
    <li>
      <a href="/admin/rooms/update/<%= room.id %>">
        <%= room.name %>（<%= room.id %>）| 場所：<%= room.place %> フロア：<%= room.floor %>
      </a>
    </li>
    <%  }) %>
    <% } %>
  </ul>
</body>
<%- include("../common/javascripts.ejs") %>
</html>