<!DOCTYPE html>
<html>

<head>
  <title>部屋管理</title>
  <%- include("../common/stylesheets.ejs") %>
</head>

<body>
  <%- include("../common/header.ejs", {current: 'master'}) %>
  <div class="main">
    <div class="main__wrapper">
      <div class="area-admin-link">
        <a class="btn-base" href="/admin/rooms/insert">登録</a>
      </div>
      <div class="admin__rooms">
        <% if (rooms) { %>
        <%  rooms.forEach( room => { %>
        <div class="admin_room">
          <a class="btn-link" href="/admin/rooms/update/<%= room.id %>">
            <%= room.place %> <%= room.name %><span class="dateinfo-small">　開始：<%= room.ymd_start.slice(0,4) %>.<%= room.ymd_start.slice(4,6) %>.<%= room.ymd_start.slice(6,8) %>　終了：<%= room.ymd_end.slice(0,4) %>.<%= room.ymd_end.slice(4,6) %>.<%= room.ymd_end.slice(6,8) %>　</span>
            <% if (room.companyname) { %><%= room.id_nyukyo %> <%= room.companyname %><% } %>
          </a>
        </div>
        <%  }) %>
        <% } %>
      </div>
      <!-- /.admin__room -->
    </div>
    <!-- /.main__wrapper -->
  </div>
  <!-- /.main -->
</body>
<%- include("../common/javascripts.ejs") %>

</html>