<!DOCTYPE html>
<html>

<head>
  <title>部屋管理</title>
  <%- include("../common/stylesheets.ejs") %>
</head>

<body>
  <%- include("../common/header.ejs") %>
  <div class="main">
    <div class="main__wrapper">
      <div class="area-admin-link">
        <a class="btn-base" href="/admin/rooms/insert">登録</a>
      </div>
      <div class="admin__room">
        <% if (rooms) { %>
          <%  rooms.forEach( room => { %>
            <a class="btn-link" href="/admin/rooms/update/<%= room.id %>">
              <%= room.name %>（<%= room.id %>）
            </a>
          <%  }) %>
          <% } %>
      </div>
      <!-- /.admin__room -->
    </div>
    <!-- /.main__wrapper -->
  </div>
  <!-- /.main -->
</body>
<%- include("../common/javascripts.ejs") %>
</html>