<!DOCTYPE html>
<html>

<head>
  <title>部屋管理（編集）</title>
  <%- include("../common/stylesheets.ejs") %>
</head>

<body>
  <%- include("../common/header.ejs", {current: 'master'}) %>
  <div class="main">
    <div class="main__wrapper">
      <div class="area-admin-link">
        <a class="btn-base" href="/admin/rooms">戻る</a>
      </div>
      <% if (message && message.length !== 0) { %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
      <% } %>
      <div class="admin__room">
        <form name="roomform" method="POST">
          <dl>
          <% if (mode === 'insert') { %>
          <dt>部屋番号</dt>
          <dd><input class="form__item-style" type="text" name="id" required></dd>
          <dt>場所</dt>
          <dd><input class="form__item-style" type="text" name="place" required></dd>
          <dt>階数</dt>
          <dd><input class="form__item-style" type="text" name="floor" required></dd>
          <dt>人数</dt>
          <dd><input class="form__item-style" type="text" name="person" required></dd>
          <dt>名前</dt>
          <dd><input class="form__item-style" type="text" name="name" required></dd>
          <div class="form__btn">
            <input class="btn-base" type="button" id="btn_insert" value="登録">
          <% } else { %>
          <dt>部屋番号</dt>
          <dd><input class="form__item-style bg-input-disabled" type="text" name="id" value="<%= room.id %>" disabled></dd>
          <input class="form__item-style" type="hidden" name="id" value="<%= room.id %>">
          <dt>場所</dt>
          <dd><input class="form__item-style" type="text" name="place" value="<%= room.place %>" required></dd>
          <dt>階数</dt>
          <dd><input class="form__item-style" type="text" name="floor" value="<%= room.floor %>" required></dd>
          <dt>人数</dt>
          <dd><input class="form__item-style" type="text" name="person" value="<%= room.person %>" required></dd>
          <dt>名前</dt>
          <dd><input class="form__item-style" type="text" name="name" value="<%= room.name %>" required></dd>
          <dt>適用開始日</dt>
          <dd><input class="form__item-style flatpickr" type="text" name="ymd_start" value="<%= room.ymd_start %>" required></dd>
          <dt>適用終了日</dt>
          <dd><input class="form__item-style flatpickr" type="text" name="ymd_end" value="<%= room.ymd_end %>" required></dd>
          <input type="hidden" name="before_ymd_end" value="<%= room.ymd_end %>">
          <div class="form__btn">
            <input class="btn-base" type="button" id="btn_update" value="更新">
          <input class="btn-base" type="button" id="btn_delete" value="削除">
          <% } %>
        </div>
        <input type="hidden" id="field_mode">
        </dl>
        </form>
      </div>
      <!-- /.admin__room -->
    </div>
    <!-- /.main__wrapper -->
  </div>
  <!-- /.main -->
  <script>
    let insertbtn = document.getElementById("btn_insert");
    if (insertbtn) {
      insertbtn.addEventListener("click", function () {
        document.roomform.action = "/admin/rooms/insert";
        document.roomform.submit();
      })
    }
    let updatebtn = document.getElementById("btn_update");
    if (updatebtn) {
      updatebtn.addEventListener("click", function () {
        document.roomform.action = "/admin/rooms/update";
        document.roomform.submit();
      })
    }
    let deletebtn = document.getElementById("btn_delete");
    if (deletebtn) {
      deletebtn.addEventListener("click", function () {
        document.roomform.action = "/admin/rooms/delete";
        document.roomform.submit();
      })
    }
  </script>
</body>
<%- include("../common/javascripts.ejs") %>

</html>