<!DOCTYPE html>
<html>

<head>
  <title>ユーザ管理</title>
  <%- include("../common/stylesheets.ejs") %>
</head>

<body>
  <%- include("../common/header.ejs") %>
  <h1>ユーザ管理</h1>
  <ul>
    <% if (users) { %>
    <%  users.forEach( user => { %>
    <li>
      <a href="/admin/users/update/<%= user.id %>">
        <%= user.name %>（<%= user.id %>）
      </a>
    </li>
    <%  }) %>
    <% } %>
  </ul>
  <a href="/admin/users/insert">登録</a>
</body>
<%- include("../common/javascripts.ejs") %>
</html>