<!DOCTYPE html>
<html>

<head>
  <title>ユーザ管理</title>
  <%- include("../common/stylesheets.ejs") %>
</head>

<body>
  <%- include("../common/header.ejs") %>
  <div class="main">
    <div class="main__wrapper">
      <div class="area-admin-link">
        <a class="btn-base" href="/admin/users/insert">登録</a>
      </div>
        <div class="admin__user">
          <% if (users) { %>
          <%  users.forEach( user => { %>
            <a class="btn-link" href="/admin/users/update/<%= user.id %>">
              <%= user.name %>（<%= user.id %>）<span class="dateinfo-small">　開始：<%= user.ymd_start %>　終了：<%= user.ymd_end %></span>
            </a>
          <%  }) %>
          <% } %>
      </div>
      <!-- /.admin__user -->
    </div>
    <!-- /.main__wrapper -->
  </div>
  <!-- /.main -->
</body>
<%- include("../common/javascripts.ejs") %>
</html>