<!DOCTYPE html>
<html>

<head>
  <title>ユーザ管理（編集）</title>
  <%- include("../common/stylesheets.ejs") %>
</head>

<body>
  <%- include("../common/header.ejs") %>
  <div class="main">
    <div class="main__wrapper">
      <div class="area-admin-link">
        <a class="btn-base" href="/admin/users">戻る</a>
        </div>
        <% if (message && message.length !== 0) { %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
      <% } %>
      <div class="admin__user">
        <form name="userform" method="POST">
          <dl>
            <% if (mode === 'insert') { %>
            <dt>ID</dt>
            <dd><input class="form__item-style" type="text" name="id" required></dd>
            <dt>名前</dt>
            <dd><input class="form__item-style" type="text" name="name" required></dd>
            <dt>パスワード</dt>
            <dd><input class="form__item-style" type="password" name="password" required></dd>
            <dt>権限</dt>
            <dd>
              <input id="role_1" class="form__radio-style" type="radio" value="社員" checked="checked" name="role"><label for="role_1" class="form__radio-label">社員</label>
              <input id="role_2" class="form__radio-style" type="radio" value="バイト" name="role"><label for="role_2" class="form__radio-label">バイト</label>
            </dd>
            <div class="form__btn">
            <input class="btn-base" type="button" id="btn_insert" value="登録">
            <% } else { %>
            <dt>ID</dt>
            <dd><input class="form__item-style bg-input-disabled" type="text" name="id" value="<%= user.id %>" disabled></dd>
            <input type="hidden" name="id" value="<%= user.id %>">
            <dt>名前</dt>
            <dd><input class="form__item-style" type="text" name="name" value="<%= user.name %>" required></dd>
            <dt>パスワード</dt>
            <dd><input class="form__item-style" type="password" name="password" value="" required></dd>
            <dt>権限</dt>
            <dd>
            <% if (user.role === '社員') { %>
              <input id="role_1" class="form__radio-style" type="radio" value="社員" checked="checked" name="role"><label for="role_1" class="form__radio-label">社員</label>
              <input id="role_2" class="form__radio-style" type="radio" value="バイト" name="role"><label for="role_2" class="form__radio-label">バイト</label>
            <% } else { %>
              <input id="role_1" class="form__radio-style" type="radio" value="社員" name="role"><label for="role_1" class="form__radio-label">社員</label>
              <input id="role_2" class="form__radio-style" type="radio" value="バイト" checked="checked" name="role"><label for="role_2" class="form__radio-label">バイト</label>
            <% } %>
            </dd>
            <dt>適用開始日</dt>
            <dd><input class="form__item-style flatpickr" type="text" name="ymd_start" value="<%= user.ymd_start %>"></dd>
            <dt>適用終了日</dt>
            <dd><input class="form__item-style flatpickr" type="text" name="ymd_end" value="<%= user.ymd_end %>"></dd>
            <input type="hidden" name="before_ymd_end" value="<%= user.ymd_end %>">
            <div class="form__btn">
              <input class="btn-base" type="button" id="btn_update" value="更新">
              <input class="btn-base" type="button" id="btn_delete" value="削除">
            <% } %>
            </div>
          </dl>
          <input type="hidden" id="field_mode">
        </form>
      </div>
    </div>
    <!-- /.main__wrapper -->
  </div>
  <!-- /.main -->
  <script>
    let insertbtn = document.getElementById("btn_insert");
    if (insertbtn) {
      insertbtn.addEventListener("click", function () {
        document.userform.action = "insert";
        document.userform.submit();
      })
    }
    let updatebtn = document.getElementById("btn_update");
    if (updatebtn) {
      updatebtn.addEventListener("click", function () {
        document.userform.action = "update";
        document.userform.submit();
      })
    }
    let deletebtn = document.getElementById("btn_delete");
    if (deletebtn) {
      deletebtn.addEventListener("click", function () {
        document.userform.action = "delete";
        document.userform.submit();
      })
    }
  </script>
</body>
<%- include("../common/javascripts.ejs") %>

</html>