<!DOCTYPE html>
<html>

<head>
  <title>会社</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <a href="/top">TOPへ</a>
  <hr>
  <h1>会社</h1>
  ID:<%= company.id %>
  ID_NYUKYO:<a href="/nyukyo/<%= company.id_nyukyo %>"><%= company.id_nyukyo %></a>
  ID_KAIGI:<%= company.id_kaigi %>
  NAME:<%= company.name %>
  KANA:<%= company.kana %>
  BIKOU:<%= company.bikou %>  
  <a href="/company/update/<%= company.id %>">更新</a>
  <a href="/company/delete/<%= company.id %>">削除</a>
  <hr>
  <ul>
    <% if (persons) { %>
    <%  persons.forEach( person => { %>
    <li>
      <a href="/person/<%= person.id %>"><%= person.name %>（<%= person.id %>）</a>
    </li>
    <%  }) %>
    <% } %>
  </ul>
  <hr>
  <form name="roomForm" method="POST" action="/company/add">
    <input type="submit" value="部屋追加">
    <select name="id_room">
      <% freerooms.forEach(function (freeroom) { %>
      <option value="<%= freeroom.id %>"><%= freeroom.name %>（<%= freeroom.id %>）<%= freeroom.place %> / <%= freeroom.floor %></option>
      <% }) %>
    </select>
    <input type="hidden" name="id_company" value="<%= company.id %>">
  </form>
  <ul>
    <% if (rooms) { %>
    <%  rooms.forEach( room => { %>
    <li>
      <%= room.name %>（<%= room.id %>）<%= room.place %>：<%= room.floor %> <a href="/company/delete/<%= company.id %>/<%= room.id %>">削除</a>
    </li>
    <%  }) %>
    <% } %>
  </ul>

</body>

</html>