<!DOCTYPE html>
<html>

<head>
  <title>会社</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>会社</h1>
  ID:<%= company.id %>
  ID_NYUKYO:<%= company.id_nyukyo %>
  ID_KAIGI:<%= company.id_kaigi %>
  NAME:<%= company.name %>
  KANA:<%= company.kana %>
  BIKOU:<%= company.bikou %>  
  <a href="/company/update/<%= company.id %>">更新</a>
  <a href="/company/delete/<%= company.id %>">削除</a>
  <hr>
  <a href="/person/insert/<%= company.id %>">個人登録</a>
  <ul>
    <% if (persons) { %>
    <%  persons.forEach( person => { %>
    <li>
      <a href="/person/<%= person.id %>"><%= person.name %>（<%= person.id %>）</a>
    </li>
    <%  }) %>
    <% } %>
  </ul>
  <hr>
  <ul>
    <% if (rooms) { %>
    <%  rooms.forEach( room => { %>
    <li>
      <%= room.name %>（<%= room.id %>）<%= room.place %>：<%= room.floor %></a>
    </li>
    <%  }) %>
    <% } %>
  </ul>

</body>

</html>