<!DOCTYPE html>
<html>

<head>
  <title>会社（編集）</title>
  <%- include("./common/stylesheets.ejs") %>
</head>

<body>
  <%- include("./common/header.ejs") %>
  <section class="main">
    <div class="main__wrapper">
      <div class="area-link">
        <% if (company) { %>
        <a class="btn-link" href="/company/<%= company.id %>">会社へ</a>
        <% } %>
      </div>
      <% if (company) { %>
      <div class="title">
        <% if (company.id_nyukyo) { %>
        <span class="tag-big"><%= company.id_nyukyo %></span>
        <% } %>
        <span class="tag-big"><%= company.kubun_company %></span>
        <% if ((company.ymd_kaiyaku) && (company.ymd_kaiyaku !== '99991231')) { %>
        <span class="tag-big">解約</span>
        <% } %>
        <%= company.name %>
      </div>
      <% } else { %>
      <div class="title">新規登録</div>
      <% } %>
      <form class="company__form" name="companyform" method="POST">
        <% if (errors) { %>
        <div class="alert alert-danger">
          <%  for (let key in errors) { %>
          <div><%= errors[key] %></div>
          <% } %>
        </div>
        <% } %>
        <dl>
          <!-- ◆登録モード -->
          <% if (mode === 'insert') { %>
          <!-- 新規登録時の初期表示 -->
          <% if (!company) { %>
          <dt><span class="tag">必須</span>入居番号</dt>
          <dd>
            <select class="form__item-style" name="id_nyukyo">
              <option value="" selected>--入居番号選択--</option>
              <% nyukyos.forEach(function (nyukyo) { %>
              <%
                let dispvalue;
                if ((nyukyo.ymd_kaiyaku) && (nyukyo.ymd_kaiyaku === '99991231')) {
                    dispvalue = '【使用中】' +　nyukyo.id;
                  } else {
                    if (nyukyo.ymd_kaiyaku) {
                      dispvalue = '【未使用】' + nyukyo.id + '　解約日：' + nyukyo.ymd_kaiyaku;
                    }else{
                      dispvalue = '【未使用】' + nyukyo.id;
                    }
                  };
              %>
              <option value="<%= nyukyo.id %>"><%= dispvalue %></option>
              <% }); %>
            </select>
          </dd>
          <dt><span class="tag">必須</span>会社区分</dt>
          <dd>
            <input id="kubun_company_1" class="form__radio-style" type="radio" value="ON" checked="checked"
              name="kubun_company"><label for="kubun_company_1" class="form__radio-label">ON</label>
            <input id="kubun_company_2" class="form__radio-style" type="radio" value="CN" name="kubun_company"><label
              for="kubun_company_2" class="form__radio-label">CN</label>
            <input id="kubun_company_3" class="form__radio-style" type="radio" value="TS" name="kubun_company"><label
              for="kubun_company_3" class="form__radio-label">TS</label>
          </dd>
          <!-- <dd><input type="text" class="form__item-style" name="kubun_company" required></dd> -->

          <dt><span class="tag">必須</span>会社名</dt>
          <dd><input type="text" class="form__item-style" name="name" required></dd>
          <dt>会社名カナ</dt>
          <dd><input type="text" class="form__item-style" name="kana"></dd>
          <dt><span class="tag">必須</span>入居年月日</dt>
          <dd><input type="text" class="form__item-style flatpickr" name="ymd_nyukyo" required></dd>
          <dt>解約年月日</dt>
          <dd><input type="text" class="form__item-style bg-input-disabled" name="ymd_kaiyaku" disabled></dd>
          <dt>備考</dt>
          <dd><input type="text" class="form__item-style" name="bikou"></dd>

          <!-- 新規登録時エラー発生 -->
          <% } else  { %>
          <dt><span class="tag">必須</span>入居番号</dt>
          <dd>
            <select class="form__item-style" name="id_nyukyo">
              <% if (!company.id_nyukyo) { %>
              <option value="" selected>--入居番号選択--</option>
              <% } else { %>
              <option value="">--入居番号選択--</option>
              <% } %>
              <% nyukyos.forEach(function (nyukyo) { %>
                            <%
                let dispvalue;
                if ((nyukyo.ymd_kaiyaku) && (nyukyo.ymd_kaiyaku === '99991231')) {
                    dispvalue = '【使用中】' +　nyukyo.id;
                  } else {
                    if (nyukyo.ymd_kaiyaku) {
                      dispvalue = '【未使用】' + nyukyo.id + '　解約日：' + nyukyo.ymd_kaiyaku;
                    }else{
                      dispvalue = '【未使用】' + nyukyo.id;
                    }
                  };
              %>
              <% if (nyukyo.id === company.id_nyukyo) { %>
              <option value="<%= nyukyo.id %>" selected><%= dispvalue %></option>
              <% } else { %>
              <option value="<%= nyukyo.id %>"><%= dispvalue %></option>
              <% } %>
              <% }); %>
            </select>
          </dd>
          <dt><span class="tag">必須</span>会社区分</dt>
          <dd>
            <% if (company.kubun_company === 'ON') { %>
            <input id="kubun_company_1" class="form__radio-style" type="radio" value="ON" checked="checked"
              name="kubun_company"><label for="kubun_company_1" class="form__radio-label">ON</label>
            <input id="kubun_company_2" class="form__radio-style" type="radio" value="CN" name="kubun_company"><label
              for="kubun_company_2" class="form__radio-label">CN</label>
            <input id="kubun_company_3" class="form__radio-style" type="radio" value="TS" name="kubun_company"><label
              for="kubun_company_3" class="form__radio-label">TS</label>
            <% } else if (company.kubun_company === 'CN') { %>
            <input id="kubun_company_1" class="form__radio-style" type="radio" value="ON" name="kubun_company"><label
              for="kubun_company_1" class="form__radio-label">ON</label>
            <input id="kubun_company_2" class="form__radio-style" type="radio" value="CN" checked="checked"
              name="kubun_company"><label for="kubun_company_2" class="form__radio-label">CN</label>
            <input id="kubun_company_3" class="form__radio-style" type="radio" value="TS" name="kubun_company"><label
              for="kubun_company_3" class="form__radio-label">TS</label>
            <% } else { %>
            <input id="kubun_company_1" class="form__radio-style" type="radio" value="ON" checked="checked"
              name="kubun_company"><label for="kubun_company_1" class="form__radio-label">ON</label>
            <input id="kubun_company_2" class="form__radio-style" type="radio" value="CN" name="kubun_company"><label
              for="kubun_company_2" class="form__radio-label">CN</label>
            <input id="kubun_company_3" class="form__radio-style" type="radio" value="TS" checked="checked"
              name="kubun_company"><label for="kubun_company_3" class="form__radio-label">TS</label>
            <% } %>
          </dd>
          <dt><span class="tag">必須</span>会社名</dt>
          <dd><input type="text" class="form__item-style" name="name" value="<%= company.name %>" required></dd>
          <dt>会社名カナ</dt>
          <dd><input type="text" class="form__item-style" name="kana" value="<%= company.kana %>"></dd>
          <dt><span class="tag">必須</span>入居年月日</dt>
          <dd><input type="text" class="form__item-style flatpickr" name="ymd_nyukyo" value="<%= company.ymd_nyukyo %>"
              required>
          </dd>
          <dt>解約年月日</dt>
          <dd><input type="text" class="form__item-style bg-input-input-disabled" name="ymd_kaiyaku_disp"
              value="<%= company.ymd_kaiyaku %>" disabled>
            <input type="hidden" name="ymd_kaiyaku" value="<%= company.ymd_kaiyaku %>">
          </dd>
          <dt>備考</dt>
          <dd><input type="text" class="form__item-style" name="bikou" value="<%= company.bikou %>"></dd>
          <% } %>
          <div class="form__btn">
            <input type="button" class="btn-base" id="btn_insert" value="登録">

            <!-- ◆更新モード -->
            <% } else if ((mode === 'update') && (company.ymd_kaiyaku === '99991231')) { %>
            <input type="hidden" name="id" value="<%= company.id %>">
            <dt><span class="tag">必須</span>入居番号</dt>
            <dd>
              <select class="form__item-style" name="id_nyukyo">
                <% if (!company.id_nyukyo) { %>
                <option value="" selected>--入居番号選択--</option>
                <% } else { %>
                <option value="">--入居番号選択--</option>
                <% } %>
                <% nyukyos.forEach(function (nyukyo) { %>
                <%
                  let dispvalue;
                  if ((nyukyo.ymd_kaiyaku) && (nyukyo.ymd_kaiyaku === '99991231')) {
                      dispvalue = '【使用中】' +　nyukyo.id;
                    } else {
                      if (nyukyo.ymd_kaiyaku) {
                        dispvalue = '【未使用】' + nyukyo.id + '　解約日：' + nyukyo.ymd_kaiyaku;
                      }else{
                        dispvalue = '【未使用】' + nyukyo.id;
                      }
                    };
                %>
                <% if (nyukyo.id === company.id_nyukyo) { %>
                <option value="<%= nyukyo.id %>" selected><%= dispvalue %></option>
                <% } else { %>
                <option value="<%= nyukyo.id %>"><%= dispvalue %></option>
                <% } %>
                <% }); %>
              </select>
            </dd>
            <dt><span class="tag">必須</span>会社区分</dt>
            <dd><input class="form__item-style bg-input-disabled" type="text" name="kubun_company"
                value="<%= company.kubun_company %>" disabled></dd>
            <input type="hidden" name="kubun_company" value="<%= company.kubun_company %>">
            <dt>会社名</dt>
            <dd><input class="form__item-style" type="text" name="name" value="<%= company.name %>" required></dd>
            <dt>会社名（カナ）</dt>
            <dd><input class="form__item-style" type="text" name="kana" value="<%= company.kana %>" required></dd>
            <dt><span class="tag">必須</span>入居年月日</dt>
            <dd><input type="text" class="form__item-style flatpickr" name="ymd_nyukyo"
                value="<%= company.ymd_nyukyo %>" required></dd>
            <dt>解約年月日</dt>
            <dd><input type="text" class="form__item-style bg-input-disabled" name="ymd_kaiyaku_disp"
                value="<%= company.ymd_kaiyaku %>" disabled>
              <input type="hidden" name="ymd_kaiyaku" value="<%= company.ymd_kaiyaku %>">
            </dd>
            <dt>備考</dt>
            <dd><input class="form__item-style" type="text" name="bikou" value="<%= company.bikou %>"></dd>
            <input type="hidden" id="name" value="<%= company.id %>">
            <div class="form__btn">
              <input type="button" class="btn-base" id="btn_update" value="更新">

              <!-- ◆削除モード -->
              <% } else { %>
              <dt>入居番号</dt>
              <dd><input class="form__item-style bg-input-disabled" type="text" name="id_nyukyo"
                  value="<%= company.id_nyukyo %>" disabled></dd>
              <dt>会社区分</dt>
              <dd><input class="form__item-style bg-input-disabled" type="text" name="kubun_company"
                  value="<%= company.kubun_company %>" disabled></dd>
              <input type="hidden" name="kubun_company" value="<%= company.kubun_company %>">
              <dt>会社名</dt>
              <dd><input class="form__item-style bg-input-disabled" type="text" name="name" value="<%= company.name %>"
                  disabled></dd>
              <dt>会社名（カナ）</dt>
              <dd><input class="form__item-style bg-input-disabled" type="text" name="kana" value="<%= company.kana %>"
                  disabled></dd>
              <dt>入居年月日</dt>
              <dd><input type="text" class="form__item-style bg-input-disabled" name="ymd_nyukyo"
                  value="<%= company.ymd_nyukyo %>" disabled>
              </dd>
              <dt>解約年月日</dt>
              <dd><input type="text" class="form__item-style bg-input-disabled" name="ymd_kaiyaku_disp"
                  value="<%= company.ymd_kaiyaku %>" disabled>
              </dd>
              <dt>備考</dt>
              <dd><input class="form__item-style bg-input-disabled" type="text" name="bikou" value="<%= company.bikou %>"
                  disabled></dd>
              <input type="hidden" name="id" value="<%= company.id %>">
              <input type="hidden" name="ymd_kaiyaku" value="<%= company.ymd_kaiyaku %>">
              <div class="form__btn">
                <% if (company.ymd_kaiyaku === '99991231') { %>
                  <input type="button" class="btn-base" id="btn_delete" value="削除">
                <% } %>
              <% } %>
              </div>
              <input type="hidden" id="field_mode">
        </dl>
      </form>
    </div>
  </section>
  <script>
    let insertbtn = document.getElementById("btn_insert");
    if (insertbtn) {
      insertbtn.addEventListener("click", function () {
        document.companyform.action = "/company/insert";
        document.companyform.submit();
      })
    }
    let updatebtn = document.getElementById("btn_update");
    if (updatebtn) {
      updatebtn.addEventListener("click", function () {
        document.companyform.action = "/company/update";
        document.companyform.submit();
      })
    }
    let deletebtn = document.getElementById("btn_delete");
    if (deletebtn) {
      deletebtn.addEventListener("click", function () {
        document.companyform.action = "/company/delete";
        document.companyform.submit();
      })
    }
  </script>
</body>
<%- include("./common/javascripts.ejs") %>

</html>