<!DOCTYPE html>
<html>

<head>
  <title>会社（編集）</title>
  <%- include("./common/stylesheets.ejs") %>
</head>

<body>
  <%- include("./common/header.ejs") %>
  <section class="main">
    <div class="main__wrapper">
      <div class="area-link">
        <a class="btn-link" href="/">TOPへ</a>
        <% if (company) { %>
          <a class="btn-link" href="/company/<%= company.id %>">会社へ</a>
        <% } %>
      </div>
      <% if (company) { %>
        <h1 class="title"><%= company.name %></h1>
        <% } else { %>
          <h1 class="title">新規登録</h1>
        <% } %>
      <form class="company__form" name="companyform" method="POST">
        <% if (errors) { %>
        <div class="alert alert-danger">
          <%  for (let key in errors) { %>
          <div><%= errors[key] %></div>
          <% } %>
        </div>
        <% } %>
        <dl>
          <!-- ◆登録モード -->
          <% if (mode === 'insert') { %>
          <!-- 新規登録時の初期表示 -->
          <% if (!company) { %>
          <dt>入居番号</dt>
          <dd>
            <select class="form__item-style" name="id_nyukyo">
              <option value="" selected>--入居番号選択--</option>
              <% nyukyos.forEach(function (nyukyo) { %>
              <option value="<%= nyukyo.id %>"><%= nyukyo.kubun %><%=nyukyo.id %></option>
              <% }); %>
            </select>
          </dd>
          <dt>会議室利用番号</dt>
          <dd><input type="text" class="form__item-style" name="id_kaigi"></dd>
          <dt>会社区分</dt>
          <dd><input type="text" class="form__item-style" name="kubun_company" required></dd>
          <dt>会社名</dt>
          <dd><input type="text" class="form__item-style" name="name" required></dd>
          <dt>会社名カナ</dt>
          <dd><input type="text" class="form__item-style" name="kana"></dd>
          <dt>入居年月日</dt>
          <dd><input type="text" class="form__item-style" name="ymd_nyukyo" required></dd>
          <dt>解約年月日</dt>
          <dd><input type="text" class="form__item-style bg-disabled" name="ymd_kaiyaku" disabled></dd>
          <dt>備考</dt>
          <dd><input type="text" class="form__item-style" name="bikou"></dd>

          <!-- 新規登録時エラー発生 -->
          <% } else  { %>
          <dt>入居番号</dt>
          <dd>
            <select class="form__item-style" name="id_nyukyo">
              <% if (!company.id_nyukyo) { %>
              <option value="" selected>--入居番号選択--</option>
              <% } else { %>
              <option value="">--入居番号選択--</option>
              <% } %>
              <% nyukyos.forEach(function (nyukyo) { %>
              <% if (nyukyo.id === company.id_nyukyo) { %>
              <option value="<%= nyukyo.id %>" selected><%= nyukyo.kubun %><%=nyukyo.id %></option>
              <% } else { %>
              <option value="<%= nyukyo.id %>"><%= nyukyo.kubun %><%=nyukyo.id %></option>
              <% } %>
              <% }); %>
            </select>
          </dd>
          <dt>会議室利用番号</dt>
          <dd><input type="text" class="form__item-style" name="id_kaigi" value="<%= company.id_kaigi %>" required></dd>
          <dt>会社区分</dt>
          <dd><input type="text" class="form__item-style" name="kubun_company" value="<%= company.kubun_company %>" required></dd>
          <dt>会社名</dt>
          <dd><input type="text" class="form__item-style" name="name" value="<%= company.name %>" required></dd>
          <dt>会社名カナ</dt>
          <dd><input type="text" class="form__item-style" name="kana" value="<%= company.kana %>"></dd>
          <dt>入居年月日</dt>
          <dd><input type="text" class="form__item-style" name="ymd_nyukyo" value="<%= company.ymd_nyukyo %>" required>
          </dd>
          <dt>解約年月日</dt>
          <dd><input type="text" class="form__item-style bg-disabled" name="ymd_kaiyaku_disp" value="<%= company.ymd_kaiyaku %>" disabled>
          <input type="hidden" name="ymd_kaiyaku" value="<%= company.ymd_kaiyaku %>">
          </dd>
          <dt>備考</dt>
          <dd><input type="text" class="form__item-style" name="bikou" value="<%= company.bikou %>"></dd>
          <% } %>
          <div class="form__btn">
            <input type="button" class="btn-base" id="btn_insert" value="登録">

            <!-- ◆更新モード -->
            <% } else if (mode === 'update') { %>
            <dt>会社番号</dt>
            <dd><input class="form__item-style bg-disabled" type="text" name="id" value="<%= company.id %>" disabled></dd>
            <input type="hidden" name="id" value="<%= company.id %>">
            <dt>入居番号</dt>
            <dd>
              <select class="form__item-style" name="id_nyukyo">
                <% if (!company.id_nyukyo) { %>
                <option value="" selected>--入居番号選択--</option>
                <% } else { %>
                <option value="">--入居番号選択--</option>
                <% } %>
                <% nyukyos.forEach(function (nyukyo) { %>
                <% if (nyukyo.id === company.id_nyukyo) { %>
                <option value="<%= nyukyo.id %>" selected><%= nyukyo.kubun %><%=nyukyo.id %></option>
                <% } else { %>
                <option value="<%= nyukyo.id %>"><%= nyukyo.kubun %><%=nyukyo.id %></option>
                <% } %>
                <% }); %>
              </select>
            </dd>
            <dt>会議室利用番号</dt>
            <dd><input class="form__item-style" type="text" name="id_kaigi" value="<%= company.id_kaigi %>" required></dd>
            <dt>会社区分</dt>
            <dd><input class="form__item-style bg-disabled" type="text" name="kubun_company" value="<%= company.kubun_company %>" disabled></dd>
            <input type="hidden" name="kubun_company" value="<%= company.kubun_company %>">
            <dt>会社名</dt>
            <dd><input class="form__item-style" type="text" name="name" value="<%= company.name %>" required></dd>
            <dt>会社名（カナ）</dt>
            <dd><input class="form__item-style" type="text" name="kana" value="<%= company.kana %>" required></dd>
            <dt>入居年月日</dt>
            <dd><input type="text" class="form__item-style" name="ymd_nyukyo" value="<%= company.ymd_nyukyo %>" required></dd>
            <dt>解約年月日</dt>
            <dd><input type="text" class="form__item-style bg-disabled" name="ymd_kaiyaku_disp" value="<%= company.ymd_kaiyaku %>" disabled>
            <input type="hidden" name="ymd_kaiyaku" value="<%= company.ymd_kaiyaku %>">
            </dd>
            <dt>備考</dt>
            <dd><input class="form__item-style" type="text" name="bikou" value="<%= company.bikou %>"></dd>
            <div class="form__btn">
              <input type="button" class="btn-base" id="btn_update" value="更新">

              <!-- ◆削除モード -->
              <% } else { %>
              <dt>会社番号</dt>
              <dd><input class="form__item-style bg-disabled" type="text" name="id" value="<%= company.id %>" disabled></dd>
              <dt>入居番号</dt>
              <dd><input class="form__item-style bg-disabled" type="text" name="id_nyukyo" value="<%= company.id_nyukyo %>" disabled></dd>
              <dt>会議室利用番号</dt>
              <dd><input class="form__item-style bg-disabled" type="text" name="id_kaigi" value="<%= company.id_kaigi %>" disabled></dd>
              <dt>会社区分</dt>
              <dd><input class="form__item-style bg-disabled" type="text" name="kubun_company" value="<%= company.kubun_company %>" disabled></dd>
              <input type="hidden" name="kubun_company" value="<%= company.kubun_company %>">
              <dt>会社名</dt>
              <dd><input class="form__item-style bg-disabled" type="text" name="name" value="<%= company.name %>" disabled></dd>
              <dt>会社名（カナ）</dt>
              <dd><input class="form__item-style bg-disabled" type="text" name="kana" value="<%= company.kana %>" disabled></dd>
              <dt>入居年月日</dt>
              <dd><input type="text" class="form__item-style bg-disabled" name="ymd_nyukyo" value="<%= company.ymd_nyukyo %>" disabled>
              </dd>
              <dt>解約年月日</dt>
              <dd><input type="text" class="form__item-style bg-disabled" name="ymd_kaiyaku_disp" value="<%= company.ymd_kaiyaku %>" disabled>
              </dd>
              <dt>備考</dt>
              <dd><input class="form__item-style bg-disabled" type="text" name="bikou" value="<%= company.bikou %>" disabled></dd>
              <input type="hidden" name="id" value="<%= company.id %>">
              <input type="hidden" name="ymd_kaiyaku" value="<%= company.ymd_kaiyaku %>">
              <div class="form__btn">
                <input type="button" class="btn-base" id="btn_delete" value="削除">
                <% } %>
              </div>
              <input type="hidden" id="field_mode">
            </dl>
      </form>
    </div>
  </section>
  <script>
    let insertbtn = document.getElementById("btn_insert");
    if (insertbtn) {
      insertbtn.addEventListener("click", function () {
        document.companyform.action = "/company/insert";
        document.companyform.submit();
      })
    }
    let updatebtn = document.getElementById("btn_update");
    if (updatebtn) {
      updatebtn.addEventListener("click", function () {
        document.companyform.action = "/company/update";
        document.companyform.submit();
      })
    }
    let deletebtn = document.getElementById("btn_delete");
    if (deletebtn) {
      deletebtn.addEventListener("click", function () {
        document.companyform.action = "/company/delete";
        document.companyform.submit();
      })
    }
  </script>
</body>
<%- include("./common/javascripts.ejs") %>

</html>