<!DOCTYPE html>
<html>

<head>
  <title>会社</title>
  <%- include("./common/stylesheets.ejs") %>
</head>

<body>
  <div class="msg">
    <div class="msgarea">
      <p class="msgarea__text">設定された年月日で解約します。<br>よろしいですか？</p>
      <input type="text" placeholder="解約日を選択する" class="form__item-style flatpickr" name="select_ymd_kaiyaku"
        id="select_ymd_kaiyaku">
      <button class="msgarea__okbtn">はい</button>
      <button class="msgarea__ngbtn">いいえ</button>
    </div>
  </div>
  <%- include("./common/header.ejs") %>

  <div class="main">
    <div class="main__wrapper">

      <div class="fix_header">
        <div class="title">
          <% if (company.id_nyukyo) { %>
          <span class="tag-big"><%= company.id_nyukyo %></span>
          <% } %>
          <span class="tag-big"><%= company.kubun_company %></span>
          <% if (company.ymd_kaiyaku !== '99991231') { %>
          <span class="tag-big">解約</span>
          <% } %>
          <%= company.name %>
        </div>
      </div>
      <!-- /.fix_header -->

      <div class="company">
        <form name="cancelForm" method="POST" action="/company/cancel">
          <dl>
            <dt>入居番号</dt>
            <dd><input type="text" class="form__item-readonly-style" name="id_nyukyo" value="<%= company.id_nyukyo %>"
                disabled>
            </dd>
            <dt>会社区分</dt>
            <dd><input type="text" class="form__item-readonly-style" name="kubun_company"
                value="<%= company.kubun_company %>" disabled>
            </dd>
            <dt>会社名</dt>
            <dd><input type="text" class="form__item-readonly-style" name="name" value="<%= company.name %>" disabled>
            </dd>
            <dt>会社名（追加）</dt>
            <dd><input type="text" class="form__item-readonly-style" name="name_other" value="<%= company.name_other %>"
                disabled>
            </dd>
            <dt>会社名カナ</dt>
            <dd><input type="text" class="form__item-readonly-style" name="kana" value="<%= company.kana %>" disabled>
            </dd>
            <dt>入居年月日</dt>
            <dd><input type="text" class="form__item-readonly-style" name="ymd_nyukyo" value="<%= company.ymd_nyukyo %>"
                disabled>
            </dd>
            <dt>解約年月日</dt>
            <dd><input type="text" class="form__item-readonly-style" name="ymd_kaiyaku"
                value="<%= company.ymd_kaiyaku %>" disabled>
            </dd>
            <dt>備考</dt>
            <dd><input type="text" class="form__item-readonly-style" name="bikou" value="<%= company.bikou %>" disabled>
            </dd>
            <div class="form__btn">
              <% if (locals.user.role === '社員') { %>
              <% if (company.ymd_kaiyaku === '99991231') { %>
              <a class="btn-base" href="/company/update/<%= company.id %>">更新</a>
              <input type="button" class="btn-base" id="cancelbtn" value="解約">
              <% } else { %>
              <a class="btn-base" href="/company/delete/<%= company.id %>">削除</a>
              <% } %>
              <% } %>
            </div>
            <input type="hidden" name="id" value="<%= company.id %>">
            <input type="hidden" name="id_company" value="<%= company.id %>">
            <input type="hidden" name="id_nyukyo" value="<%= company.id_nyukyo %>">
            <input type="hidden" name="selected_ymd_kaiyaku" id="selected_ymd_kaiyaku" value="">
          </dl>
        </form>
      </div>
      <!-- /.company -->
      <div class="person">
        <div class="person__header">
          <p class="midashi">個人
            <% if (company.ymd_kaiyaku === '99991231') { %>
            <% if (locals.user.role === '社員') { %>
            <a class="btn-base person__addbtn" href="/person/add/<%= company.id %>">個人登録</a></p>
          <% } %>
          <% } %>
        </div>
        <!-- /.person__header -->
        <div class="person__items">
          <% if (persons) { %>
          <%  persons.forEach( person => { %>
          <div class="person__item">
            <% if (person.ymd_kaiyaku === '99991231') { %>
            <a class="btn-link" href="/person/<%= person.id %>"><span
                class="tag"><%= person.kubun_person %></span><%= person.name %><span
                class="dateinfo">　入居：<%= person.ymd_nyukyo %></span></a>
            <% } else { %>
            <a class="btn-link bd-left-disabled" href="/person/<%= person.id %>"><span
                class="tag bg-disabled">解約</span><span class="tag bg-disabled"><%= person.kubun_person %></span><span
                class="color-disabled"><%= person.name %><span
                  class="dateinfo">　入居：<%= person.ymd_nyukyo %>　解約：<%= person.ymd_kaiyaku %></span></span></a>
            <% } %>
          </div>
          <%  }); %>
          <% } %>
        </div>
        <!-- /.person__items -->
      </div>
      <!-- /.person -->

      <% if (company.kubun_company === 'CN') { %>
      <div class="room">
        <div class="room__header">
          <p class="midashi">部屋</p>
        </div>
        <!-- /.room__header -->
        <% if (company.ymd_kaiyaku === '99991231') { %>
        <% if (locals.user.role === '社員') { %>
        <form name="roomForm" class="room__form" method="POST" action="/company/addroom">
          <select name="id_room" class="form__item-style room__select">
            <option value="" selected>--部屋選択--</option>
            <% selectrooms.forEach( selectroom => {
                  let isExit = false;
                  rooms.forEach( room => {
                    if (room.id === selectroom.id) {
                      isExit = true;
                    }
                  });
                  if (!isExit) { %>
            <option value="<%= selectroom.id %>">
              <%= selectroom.kubun %><%= selectroom.name %>（<%= selectroom.place %> /
              <%= selectroom.floor %> / <%= selectroom.person %>名）
            </option>
            <% }
                }); %>
          </select>
          <input class="btn-base ml-small" type="submit" value="追加">
          <input type="hidden" name="id_company" value="<%= company.id %>">
        </form>
        <% } %>
        <% } %>
        <div class="room__items">
          <% if (rooms) { %>
          <%  rooms.forEach( room => { %>
          <% 
            let roomname;
            let dateinfo;
            if (room.place) {
              roomname = room.name + '（' + room.place + ' / ' + room.floor + ' / ' + room.person + '名）'
            } else {
              roomname = room.name + '（' + room.person + '名）'
            }
            if (room.ymd_end === '99991231') {
              dateinfo = '開始：' + room.ymd_start
            } else {
              dateinfo = '開始：' + room.ymd_start + '　終了：' + room.ymd_end
            }
          %>
          <% if (room.ymd_end === '99991231') { %>
          <div class="room__item">
            <span><%= roomname %><%= dateinfo %></span>
            <% } else { %>
            <div class="room__item bd-disabled pd-disabled">
              <span class="color-disabled"><%= roomname %><%= dateinfo %></span>
              <% } %>
              <% if ((company.ymd_kaiyaku === '99991231') && (room.ymd_end === '99991231')) { %>
              <% if (locals.user.role === '社員') { %>
              <a class="tag"
                href="/company/deleteroom/<%= room.id_company %>/<%= room.id_room %>/<%= room.no_seq %>">削除</a>
              <% } %>
              <% } %>
            </div>
            <% }) %>
            <% } %>
          </div>
          <!-- /.room__items -->
        </div>
        <!-- /.room -->
        <% } %>

        <div class="nyukyo">
          <div class="nyukyo__header">
            <% if (nyukyo) { %>
            <p class="midashi">入居番号　<%= nyukyo.id %></p>
            <% } else { %>
            <p class="midashi">入居番号</p>
            <% } %>
          </div>
          <!-- /.nyukyo__header -->
          <% if (nyukyo) { %>
          <div class="nyukyo__items">
            <% nyukyocompanies.forEach( nyukyocompany  => { %>
            <div class="nyukyo__item">
              <% if (nyukyocompany.ymd_kaiyaku === '99991231') { %>
              <a class="btn-link" href="/company/<%= nyukyocompany.id %>">
                <span><%= nyukyocompany.name %><span class="dateinfo">　入居：<%= nyukyocompany.ymd_nyukyo %></span></span>
              </a>
              <% } else { %>
              <a class="btn-link bd-left-disabled" href="/company/<%= nyukyocompany.id %>">
                <span class="color-disabled"><%= nyukyocompany.name %><span
                    class="dateinfo">　入居：<%= nyukyocompany.ymd_nyukyo %>　解約：<%= nyukyocompany.ymd_kaiyaku %></span></span>
              </a>
              <% } %>
            </div>
            <!-- /.nyukyo__item -->
            <% }) %>
          </div>
          <!-- /.nyukyo__items -->
          <% } %>
        </div>
        <!-- /.nyukyo -->

        <div class="cabinet">
          <div class="cabinet__header">
            <p class="midashi">キャビネット</p>
          </div>
          <!-- /.cabinet__header -->
          <% if (company.ymd_kaiyaku === '99991231') { %>
          <% if (locals.user.role === '社員') { %>
          <form name="cabinetForm" class="cabinet__form" method="POST" action="/company/addcabinet"
            onsubmit="return checkCancel();">
            <select name="id_cabinet" class="form__item-style cabinet__select">
              <option value="" selected>--キャビネット選択--</option>
              <% freecabinets.forEach(function (freecabinet) { %>
              <option value="<%= freecabinet.id %>">
                <%= freecabinet.place %>　<%= freecabinet.name %>
              </option>
              <% }) %>
            </select>
            <input class="btn-base ml-small" type="submit" value="追加">
            <input type="hidden" name="id_company" value="<%= company.id %>">
          </form>
          <% } %>
          <% } %>
          <div class="cabinet__items">
            <% if (cabinets) { %>
            <%  cabinets.forEach( cabinet => { %>
            <%
          let dateinfo;
          if (cabinet.ymd_end === '99991231') {
            dateinfo = '開始：' + cabinet.ymd_start
          } else {
            dateinfo = '開始：' + cabinet.ymd_start + '　終了：' + cabinet.ymd_end
          }
          %>
            <% if (cabinet.ymd_end === '99991231') { %>
            <div class="cabinet__item">
              <span><%= cabinet.place %>　<%= cabinet.name %>　<%= dateinfo %></span>
              <% } else { %>
              <div class="cabinet__item bd-disabled pd-disabled">
                <span class="color-disabled"><%= cabinet.place %>　<%= cabinet.name %>　<%= dateinfo %></span>
                <% } %>
                <% if ((company.ymd_kaiyaku === '99991231') && (cabinet.ymd_end === '99991231')) { %>
                <% if (locals.user.role === '社員') { %>
                <a class="tag"
                  href="/company/deletecabinet/<%= company.id %>/<%= cabinet.id_cabinet %>/<%= cabinet.no_seq %>">削除</a>
                <% } %>
                <% } %>
              </div>
              <!-- /.cabinet__item -->
              <%  }) %>
              <% } %>
            </div>
            <!-- /.cabinet__items -->
          </div>
          <!-- /.cabinet -->

          <div class="bicycle">
            <div class="bicycle__header">
              <p class="midashi">駐輪場</p>
            </div>
            <!-- /.bicycle__header -->
            <% if (company.ymd_kaiyaku === '99991231') { %>
            <% if (locals.user.role === '社員') { %>
            <form name="bicycleForm" class="bicycle__form" method="POST" action="/company/addbicycle">
              <select name="id_bicycle" class="form__item-style bicycle__select">
                <option value="" selected>--駐輪場選択--</option>
                <% freebicycles.forEach( selectbicycle => { %>
                <option value="<%= selectbicycle.id %>">
                  <%= selectbicycle.id %> <%= selectbicycle.name %>
                </option>
                <% }); %>
              </select>
              <input class="btn-base ml-small" type="submit" value="追加">
              <input type="hidden" name="id_company" value="<%= company.id %>">
            </form>
            <% } %>
            <% } %>
            <div class="bicycle__items">
              <% if (bicycles) { %>
              <%  bicycles.forEach( bicycle => { %>
              <% 
            let bicyclename;
            bicyclename = bicycle.id + ' ' + bicycle.name
            let dateinfo;
            if (bicycle.ymd_end === '99991231') {
              dateinfo = '開始：' + bicycle.ymd_start
            } else {
              dateinfo = '開始：' + bicycle.ymd_start + '　終了：' + bicycle.ymd_end
            }
            %>
              <% if (bicycle.ymd_end === '99991231') { %>
              <div class="bicycle__item">
                <span><%= bicyclename %>　<%= dateinfo %></span>
                <% } else { %>
                <div class="bicycle__item bd-disabled pd-disabled">
                  <span class="color-disabled"><%= bicyclename %>　<%= dateinfo %></span>
                  <% } %>
                  <% if ((company.ymd_kaiyaku === '99991231') && (bicycle.ymd_end === '99991231')) { %>
                  <% if (locals.user.role === '社員') { %>
                  <a class="tag"
                    href="/company/deletebicycle/<%= bicycle.id_company %>/<%= bicycle.id_bicycle %>/<%= bicycle.no_seq %>">削除</a>
                  <% } %>
                  <% } %>
                </div>
                <% }) %>
                <% } %>
              </div>
              <!-- /.bicycle__items -->
            </div>
            <!-- /.bicycle -->

            <div class="car">
              <div class="car__header">
                <p class="midashi">駐車場</p>
              </div>
              <!-- /.car__header -->
              <% if (company.ymd_kaiyaku === '99991231') { %>
              <% if (locals.user.role === '社員') { %>
              <form name="carForm" class="car__form" method="POST" action="/company/addcar">
                <select name="id_car" class="form__item-style car__select">
                  <option value="" selected>--駐車場選択--</option>
                  <% freecars.forEach( selectcar => { %>
                  <option value="<%= selectcar.id %>">
                    <%= selectcar.id %> <%= selectcar.name %>
                  </option>
                  <% }); %>
                </select>
                <input class="btn-base ml-small" type="submit" value="追加">
                <input type="hidden" name="id_company" value="<%= company.id %>">
              </form>
              <% } %>
              <% } %>
              <div class="car__items">
                <% if (cars) { %>
                <%  cars.forEach( car => { %>
                <% 
            let carname;
            carname = car.id + ' ' + car.name
            let dateinfo;
            if (car.ymd_end === '99991231') {
              dateinfo = '開始：' + car.ymd_start
            } else {
              dateinfo = '開始：' + car.ymd_start + '　終了：' + car.ymd_end
            }
            %>
                <% if (car.ymd_end === '99991231') { %>
                <div class="car__item">
                  <span><%= carname %>　<%= dateinfo %></span>
                  <% } else { %>
                  <div class="car__item bd-disabled pd-disabled">
                    <span class="color-disabled"><%= carname %>　<%= dateinfo %></span>
                    <% } %>
                    <% if ((company.ymd_kaiyaku === '99991231') && (car.ymd_end === '99991231')) { %>
                    <% if (locals.user.role === '社員') { %>
                    <a class="tag"
                      href="/company/deletecar/<%= car.id_company %>/<%= car.id_car %>/<%= car.no_seq %>">削除</a>
                    <% } %>
                    <% } %>
                  </div>
                  <% }) %>
                  <% } %>
                </div>
                <!-- /.car__items -->
              </div>
              <!-- /.car -->
            </div>

          </div>
          <!-- /.main-wrapper -->
        </div>
        <!-- /.main -->
</body>
<script>

  let cancelbtn = document.getElementById("cancelbtn");
  cancelbtn.addEventListener('click', function () {
    scrollTo(0, 0);
    let msg = document.getElementsByClassName("msg")[0];
    msg.style.visibility = "visible";
  });
  let okbtn = document.getElementsByClassName("msgarea__okbtn")[0];
  let ngbtn = document.getElementsByClassName("msgarea__ngbtn")[0];
  okbtn.addEventListener('click', function () {
    let select = document.getElementById("select_ymd_kaiyaku");
    let selected = document.getElementById("selected_ymd_kaiyaku");
    if (select.value) {
      selected.value = select.value;
      document.cancelForm.submit();
    } else {
      select.style.backgroundColor = "rgba(255, 0, 0, 0.3)";
      return false;
    }
  });
  ngbtn.addEventListener('click', function () {
    let msg = document.getElementsByClassName("msg")[0];
    msg.style.visibility = "hidden";
  });

</script>
<%- include("./common/javascripts.ejs") %>

</html>