<!DOCTYPE html>
<html>

<head>
  <title>トップページ</title>
  <%- include("./common/stylesheets.ejs") %>
</head>

<body>
  <%- include("./common/header.ejs") %>
  <div class="main">
    <div class="main__wrapper">
      <!-- /.top__link -->
      <div class="top__btns">
        <div class="top__btn">
          <a class="btn-link" href="/company">会社登録</a>
        </div>
        <!-- /.top__btn -->
      </div>
      <div class="searchform">
        <form name="searchform" method="post" action="/">
          <div class="searchform__top">
            <input type="text" name="searchvalue" placeholder="検索文字を入力してください" class="form__item-style"
              value="<%= searchvalue %>">
            <input type="button" class="btn-base ml-small" id="btn_search" value="検索" />
          </div>
          <!-- /.searchform__top -->
          <input type="hidden" id="page_max" name="page_max" value="<%= page_max %>">
          <input type="hidden" id="page_current" name="page_current" value="<%= page_current %>">
          <input type="hidden" id="count_all" name="count_all" value="<%= count_all %>">
          <input type="hidden" id="pageaction" name="pageaction">
        </form>
      </div>
      <div class="search__result">
        <% if (results) { %>
        <div class="search__result-disp">
          <p>検索結果（<%= count_all %>件）</p>
        </div>
        <!-- /.result-disp -->
        <div class="page-section">
          <% if ((page_current !== 1) && (page_max !== 0)){ %>
          <input type="button" class="btn-base" id="btn_prev" value="前ページ" />
          <% } else { %>
            <input type="button" class="btn-disabled" id="btn_prev" value="前ページ" disabled />
          <% } %>
          <% if (page_max > 1) { %>
          <div class="page-disp">
            <%= page_current %>/<%= page_max %>
          </div>
          <!-- /.page-disp -->
          <% } %>
          <% if (page_current !== page_max) { %>
          <input type="button" class="btn-base" id="btn_next" value="次ページ" />
          <% } else { %>
            <input type="button" class="btn-disabled" id="btn_next" value="次ページ" disabled/>
          <% } %>
        </div>
        <!-- /.page-section -->
        <div class="search__result-items">
          <%  results.forEach( result => { %>
          <div class="search__result-item">
              <% if ((result.ymd_kaiyaku) && (result.ymd_kaiyaku !== '99991231')) { %>
                  <% if (result.header === '個人') { %>
                  <a class="btn-link bd-left-disabled" href="./person/<%= result.id %>"><p class="tag bg-disabled"><%= result.header %></p>
                  <% } else { %>
                  <a class="btn-link bd-left-disabled" href="./company/<%= result.id %>"><p class="tag bg-disabled"><%= result.header %> <%= result.id_nyukyo %></p>
                  <% } %>
                  <p class="tag bg-disabled"><%= result.kubun %></p>
                  <p class="tag bg-disabled">解約</p>
                  <span class="color-disabled"><%= result.name %></span>
                  <span class="dateinfo color-disabled">入居：<%= result.ymd_nyukyo %>　
                    解約：<%= result.ymd_kaiyaku %></span>
              <% } else { %>
                  <% if (result.header === '個人') { %>
                  <a class="btn-link" href="./person/<%= result.id %>"><p class="tag"><%= result.header %></p>
                  <% } else { %>
                  <a class="btn-link" href="./company/<%= result.id %>"><p class="tag"><%= result.header %> <%= result.id_nyukyo %></p>
                  <% } %>
                  <p class="tag"><%= result.kubun %></p>
                  <%= result.name %>
                  <span class="dateinfo">入居：<%= result.ymd_nyukyo %></span>
              <% } %>
                </a>
          </div>
          <!-- /.search__result-item -->
          <% }) %>
        </div>
        <!-- /.search__result-items -->
        <% } %>
      </div>
      <!-- /.search__result -->
    </div>
    <!-- /.main__wrpper -->
  </div>
  <!-- /.main -->
  <script>
    let btnSearch = document.getElementById("btn_search");
    btnSearch.addEventListener("click", function () {
      let pageaction = document.getElementById("pageaction");
      pageaction.value = "";
      document.searchform.submit();
    });

    let btnNext = document.getElementById("btn_next");
    if (btnNext) {
      btnNext.addEventListener("click", function () {
        let pageaction = document.getElementById("pageaction");
        pageaction.value = "next";
        document.searchform.submit();
      });
    }
    let btnPrev = document.getElementById("btn_prev");
    if (btnPrev) {
      btnPrev.addEventListener("click", function () {
        let pageaction = document.getElementById("pageaction");
        pageaction.value = "prev";
        document.searchform.submit();
      });
    }
  </script>
</body>
<%- include("./common/javascripts.ejs") %>

</html>