<!DOCTYPE html>
<html>

<head>
  <title>入居番号</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <a href="/top">TOPへ</a>
  <hr>
  <h1>入居番号</h1>
  ID:<%= nyukyo.id %>
  YMD_START:<%= nyukyo.ymd_start %>
  YMD_END:<%= nyukyo.ymd_end %>
  <hr>
  <ul>
    <% if (companies) { %>
    <%  companies.forEach( company => { %>
    <li>
      <a href="/company/<%= company.id %>"><%= company.name %>（<%= company.id %>）</a>
    </li>
    <%  }) %>
    <% } %>
  </ul>
  <hr>
  <form name="cabinetForm" method="POST" action="/nyukyo/add">
    <input type="submit" value="キャビネット追加">
    <select name="id_cabinet">
      <% freecabinets.forEach(function (freecabinet) { %>
      <option value="<%= freecabinet.id %>"><%= freecabinet.name %>（<%= freecabinet.id %>）<%= freecabinet.place %></option>
      <% }) %>
    </select>
    <input type="hidden" name="id_nyukyo" value="<%= nyukyo.id %>">
  </form>
  <ul>
    <% if (cabinets) { %>
    <%  cabinets.forEach( cabinet => { %>
    <li>
      <%= cabinet.name %>（<%= cabinet.id %>）<%= cabinet.place %> <a href="/nyukyo/delete/<%= nyukyo.id %>/<%= cabinet.id %>">削除</a>
    </li>
    <%  }) %>
    <% } %>
  </ul>

</body>

</html>