<!DOCTYPE html>
<html>

<head>
  <title>入居番号</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>入居番号</h1>
  ID:<%= nyukyo.id %>
  YMD_START:<%= nyukyo.ymd_start %>
  YMD_END:<%= nyukyo.ymd_end %>
  <hr>
  <a href="/company/insert/<%= nyukyo.id %>">会社登録</a>
  <ul>
    <% if (companies) { %>
    <%  companies.forEach( company => { %>
    <li>
      <a href="/company/<%= company.id %>"><%= company.name %>（<%= company.id %>）</a>
    </li>
    <%  }) %>
    <% } %>
  </ul>
  <hr>
  <ul>
    <% if (cabinets) { %>
    <%  cabinets.forEach( cabinet => { %>
    <li>
      <%= cabinet.name %>（<%= cabinet.id %>）<%= cabinet.place %>
    </li>
    <%  }) %>
    <% } %>
  </ul>

</body>

</html>