<!DOCTYPE html>
<html>

<head>
  <title>応対履歴</title>
  <%- include("./common/stylesheets.ejs") %>
</head>

<body>
  <%- include("./common/header.ejs") %>
  <section class="main">
    <div class="main__wrapper area__outai">
      <dl>
        <dt class="area__outai-company">会社</dt>
        <dd class="area__outai-company">
        <% if (selectCompany) { %>
          <input type="text" class="form__item-readonly-style" value="<%= selectCompany.id_nyukyo %>【<%= selectCompany.kubun_company %>】<%= selectCompany.name %>" disabled>
        <% } %>
        </dd>
        <dt class="area__outai-content">内容</dt>
        <dd class="area__outai-content">
        <textarea class="form__item-readonly-style" disabled><%= outai.content %></textarea>
        </dd>
        <dt>ステータス</dt>
        <dd><input type="text" class="form__item-readonly-style" name="status" value="<%= outai.status %>" disabled></dd>
        <dt></dt>
        <dd></dd>
        <dt>登録日時</dt>
        <dd><input type="text" class="form__item-readonly-style" name="ymdhms_add" value="<%= outai.ymdhms_add %>" disabled></dd>
        <dt>登録者</dt>
        <dd><input type="text" class="form__item-readonly-style" name="id_add" value="<%= outai.name_add %>" disabled></dd>
        <dt>更新日時</dt>
        <dd><input type="text" class="form__item-readonly-style" name="ymdhms_upd" value="<%= outai.ymdhms_upd %>" disabled></dd>
        <dt>更新者</dt>
        <dd><input type="text" class="form__item-readonly-style" name="id_upd" value="<%= outai.name_upd %>" disabled></dd>
      </dl>
          <div class="form__btn">
            <a class="btn-base" href="/outai/update/<%= outai.id %>">編集</a>
            <a class="btn-move" href="/outai">応対履歴検索へ</a>
          </div>
    </div>
  </section>
</body>

<%- include("./common/javascripts.ejs") %>

</html>