<!DOCTYPE html>
<html>

<head>
  <title>個人（編集）</title>
  <%- include("./common/stylesheets.ejs") %>
</head>

<body>
  <%- include("./common/header.ejs") %>
  <section class="main">
    <div class="main__wrapper">
      <div class="area-link">
        <a class="btn-link" href="/">TOPへ</a>
        <% if ((person) && (person.id_company)) { %>
          <a class="btn-link" href="/company/<%= person.id_company %>">会社へ</a>
        <% } %>
      </div>
      <!-- /.area-link -->
      <% if ((person) && (person.name)) { %>
      <h1 class="title"><%= person.name %></h1>
      <% } else { %>
        <h1 class="title">新規登録</h1>
      <% } %>
      <form class="person__form" name="personform" method="POST">
        <% if (errors) { %>
        <div class="alert alert-danger">
          <%  for (let key in errors) { %>
          <div><%= errors[key] %></div>
          <% } %>
        </div>
        <% } %>
        <dl>
          <!-- ◆登録モード -->
          <% if (mode === 'insert') { %>
          <dt>会社番号</dt>
          <dd>
            <select class="form__item-style" name="id_company_disp" disabled>
              <% if (!person.id_company) { %>
              <option value="" selected>--会社選択--</option>
              <% } else { %>
              <option value="">--会社選択--</option>
              <% } %>
              <% companies.forEach(function (company) { %>
              <% if (company.id === person.id_company) { %>
              <option value="<%= company.id %>" selected>【<%= company.kubun_company %>】<%= company.name %></option>
              <% } else { %>
              <option value="<%= company.id %>">【<%= company.kubun_company %>】<%= company.name %></option>
              <% } %>
              <% }); %>
            </select>
            <input type="hidden" name="id_company" value="<%= person.id_company %>">
          </dd>
          <dt>個人区分</dt>
          <dd><input type="text" class="form__item-style" name="kubun_person" value="<%= person.kubun_person %>" required></dd>
          <dt>個人名</dt>
          <dd><input type="text" class="form__item-style" name="name" value="<%= person.name %>" required></dd>
          <dt>個人名カナ</dt>
          <dd><input type="text" class="form__item-style" name="kana" value="<%= person.kana %>"></dd>
          <dt>電話番号</dt>
          <dd><input type="text" class="form__item-style" name="telno" value="<%= person.telno %>"></dd>
          <dt>携帯電話番号</dt>
          <dd><input type="text" class="form__item-style" name="telno_mobile" value="<%= person.telno_mobile %>"></dd>
          <dt>メールアドレス</dt>
          <dd><input type="text" class="form__item-style" name="email" value="<%= person.email %>"></dd>
          <dt>郵便番号</dt>
          <dd><input type="text" class="form__item-style" name="no_yubin" value="<%= person.no_yubin %>"></dd>
          <dt>都道府県</dt>
          <dd><input type="text" class="form__item-style" name="todoufuken" value="<%= person.todoufuken %>"></dd>
          <dt>住所</dt>
          <dd><input type="text" class="form__item-style" name="address" value="<%= person.address %>"></dd>
          <dt>入居年月日</dt>
          <dd><input type="text" class="form__item-style" name="ymd_nyukyo" value="<%= person.ymd_nyukyo %>" required></dd>
          <dt>解約年月日</dt>
          <dd><input type="text" class="form__item-style bg-disabled" name="ymd_kaiyaku_disp" value="<%= person.ymd_kaiyaku %>" disabled></dd>
          <input type="hidden" name="ymd_kaiyaku" value="<%= person.ymd_kaiyaku %>">
          <dt>備考</dt>
          <dd><input type="text" class="form__item-style" name="bikou" value="<%= person.bikou %>"></dd>
          <div class="form__btn">
            <input type="button" class="btn-base" id="btn_insert" value="登録">

            <!-- ◆更新モード -->
            <% } else if (mode === 'update') { %>
            <dt>個人番号</dt>
            <dd><input type="text" class="form__item-style bg-disabled" name="id" value="<%= person.id %>" disabled></dd>
            <input type="hidden" name="id" value="<%= person.id %>">
            <dt>会社番号</dt>
            <dd>
              <select class="form__item-style" name="id_company">
                <% if (!person.id_company) { %>
                <option value="" selected>--会社選択--</option>
                <% } %>
                <% companies.forEach(function (company) { %>
                <% if (company.id === person.id_company) { %>
                <option value="<%= company.id %>" selected>【<%= company.kubun_company %>】<%= company.name %></option>
                <% } else { %>
                <option value="<%= company.id %>">【<%= company.kubun_company %>】<%= company.name %></option>
                <% } %>
                <% }); %>
              </select>
            </dd>
            <dt>個人区分</dt>
            <dd><input type="text" class="form__item-style" name="kubun_person" value="<%= person.kubun_person %>" required></dd>
            <dt>個人名</dt>
            <dd><input type="text" class="form__item-style" name="name" value="<%= person.name %>" required></dd>
            <dt>個人名（カナ）</dt>
            <dd><input type="text" class="form__item-style" name="kana" value="<%= person.kana %>"></dd>
            <dt>電話番号</dt>
            <dd><input type="text" class="form__item-style" name="telno" value="<%= person.telno %>"></dd>
            <dt>携帯電話番号</dt>
            <dd><input type="text" class="form__item-style" name="telno_mobile" value="<%= person.telno_mobile %>"></dd>
            <dt>メールアドレス</dt>
            <dd><input type="text" class="form__item-style" name="email" value="<%= person.email %>"></dd>
            <dt>郵便番号</dt>
            <dd><input type="text" class="form__item-style" name="no_yubin" value="<%= person.no_yubin %>"></dd>
            <dt>都道府県</dt>
            <dd><input type="text" class="form__item-style" name="todoufuken" value="<%= person.todoufuken %>"></dd>
            <dt>住所</dt>
            <dd><input type="text" class="form__item-style" name="address" value="<%= person.address %>"></dd>
            <dt>入居年月日</dt>
            <dd><input type="text" class="form__item-style" name="ymd_nyukyo" value="<%= person.ymd_nyukyo %>"></dd>
            <dt>解約年月日</dt>
            <dd><input type="text" class="form__item-style bg-disabled" name="ymd_kaiyaku_disp" value="<%= person.ymd_kaiyaku %>" disabled></dd>
            <input type="hidden" name="ymd_kaiyaku" value="<%= person.ymd_kaiyaku %>">
            <dt>備考</dt>
            <dd><input type="text" class="form__item-style" name="bikou" value="<%= person.bikou %>"></dd>
            <div class="form__btn">
              <input type="button" class="btn-base" id="btn_update" value="更新">

              <!-- ◆削除モード -->
              <% } else { %>
              <dt>個人番号</dt>
              <dd><input type="text" class="form__item-style bg-disabled" name="id" value="<%= person.id %>" disabled></dd>
              <input type="hidden" name="id" value="<%= person.id %>">
              <dt>会社番号</dt>
              <dd><input type="text" class="form__item-style bg-disabled" name="id_company" value="<%= person.id_company %>" disabled></dd>
              <dt>個人区分</dt>
              <dd><input type="text" class="form__item-style bg-disabled" name="kubun_person" value="<%= person.kubun_person %>" disabled></dd>
              <dt>個人名</dt>
              <dd><input type="text" class="form__item-style bg-disabled" name="name" value="<%= person.name %>" disabled></dd>
              <dt>個人名カナ</dt>
              <dd><input type="text" class="form__item-style bg-disabled" name="kana" value="<%= person.kana %>" disabled></dd>
              <dt>電話番号</dt>
              <dd><input type="text" class="form__item-style bg-disabled" name="telno" value="<%= person.telno %>" disabled></dd>
              <dt>携帯電話番号</dt>
              <dd><input type="text" class="form__item-style bg-disabled" name="telno_mobile" value="<%= person.telno_mobile %>" disabled></dd>
              <dt>メールアドレス</dt>
              <dd><input type="text" class="form__item-style bg-disabled" name="email" value="<%= person.email %>" disabled></dd>
              <dt>郵便番号</dt>
              <dd><input type="text" class="form__item-style bg-disabled" name="no_yubin" value="<%= person.no_yubin %>" disabled></dd>
              <dt>都道府県</dt>
              <dd><input type="text" class="form__item-style bg-disabled" name="todoufuken" value="<%= person.todoufuken %>" disabled></dd>
              <dt>住所</dt>
              <dd><input type="text" class="form__item-style bg-disabled" name="address" value="<%= person.address %>" disabled></dd>
              <dt>入居年月日</dt>
              <dd><input type="text" class="form__item-style bg-disabled" name="ymd_nyukyo" value="<%= person.ymd_nyukyo %>" disabled></dd>
              <dt>解約年月日</dt>
              <dd><input type="text" class="form__item-style bg-disabled" name="ymd_kaiyaku_disp" value="<%= person.ymd_kaiyaku %>" disabled></dd>
              <input type="hidden" name="ymd_kaiyaku" value="<%= person.ymd_kaiyaku %>">
              <dt>備考</dt>
              <dd><input type="text" class="form__item-style bg-disabled" name="bikou" value="<%= person.bikou %>" disabled></dd>
              <div class="form__btn">
                <input type="button" class="btn-base" id="btn_delete" value="削除">
              </div>
              <% } %>
              <input type="hidden" id="field_mode">
        </dl>
      </form>
    </div>
  </section>
  <script>
    let insertbtn = document.getElementById("btn_insert");
    if (insertbtn) {
      insertbtn.addEventListener("click", function () {
        document.personform.action = "/person/insert";
        document.personform.submit();
      })
    }
    let updatebtn = document.getElementById("btn_update");
    if (updatebtn) {
      updatebtn.addEventListener("click", function () {
        document.personform.action = "/person/update";
        document.personform.submit();
      })
    }
    let deletebtn = document.getElementById("btn_delete");
    if (deletebtn) {
      deletebtn.addEventListener("click", function () {
        document.personform.action = "/person/delete";
        document.personform.submit();
      })
    }
  </script>
</body>
<%- include("./common/javascripts.ejs") %>

</html>