<!DOCTYPE html>
<html>

<head>
  <title>個人</title>
  <%- include("./common/stylesheets.ejs") %>
</head>

<body>
  <%- include("./common/header.ejs") %>
  <section class="main">
    <div class="msg">
      <div class="msgarea">
        <p class="msgarea__text">設定された年月日で解約します。<br>よろしいですか？</p>
        <input type="text" placeholder="解約日を選択する" class="form__item-style flatpickr" name="select_ymd_kaiyaku"
          id="select_ymd_kaiyaku">
        <button class="msgarea__okbtn">はい</button>
        <button class="msgarea__ngbtn">いいえ</button>
      </div>
    </div>
    <div class="main__wrapper">
      <div class="title">
        <span class="tag-big"><%= person.kubun_person %></span>
        <% if (person.ymd_kaiyaku !== '99991231') { %>
        <span class="tag-big">解約</span>
        <% } %>
        <%= person.name %>
      </div>
      <form name="cancelForm" class="cancel__form" method="POST" action="/person/cancel">
        <dl>
          <dt>会社番号</dt>
          <dd><input type="text" class="form__item-readonly-style" name="companyname" value="<%= companyname %>"
              disabled></dd>
          <dt>個人区分</dt>
          <dd><input type="text" class="form__item-readonly-style" name="kubun_person"
              value="<%= person.kubun_person %>" disabled></dd>
          <dt>個人名</dt>
          <dd><input type="text" class="form__item-readonly-style" name="name" value="<%= person.name %>" disabled></dd>
          <dt>個人名カナ</dt>
          <dd><input type="text" class="form__item-readonly-style" name="kana" value="<%= person.kana %>" disabled></dd>
          <dt>電話番号</dt>
          <dd><input type="text" class="form__item-readonly-style" name="telno" value="<%= person.telno %>" disabled>
          </dd>
          <dt>携帯電話番号</dt>
          <dd><input type="text" class="form__item-readonly-style" name="telno_mobile"
              value="<%= person.telno_mobile %>" disabled>
          </dd>
          <dt>メールアドレス</dt>
          <dd><input type="text" class="form__item-readonly-style" name="email" value="<%= person.email %>" disabled>
          </dd>
          <dt>郵便番号</dt>
          <dd><input type="text" class="form__item-readonly-style" name="no_yubin" value="<%= person.no_yubin %>"
              disabled></dd>
          <dt>都道府県</dt>
          <dd><input type="text" class="form__item-readonly-style" name="todoufuken" value="<%= person.todoufuken %>"
              disabled>
          </dd>
          <dt>住所</dt>
          <dd><input type="text" class="form__item-readonly-style" name="address" value="<%= person.address %>"
              disabled></dd>
          <dt>入居年月日</dt>
          <dd><input type="text" class="form__item-readonly-style" name="ymd_nyukyo" value="<%= person.ymd_nyukyo %>"
              required>
          </dd>
          <dt>解約年月日</dt>
          <dd><input type="text" class="form__item-readonly-style" name="ymd_kaiyaku" value="<%= person.ymd_kaiyaku %>"
              required>
          </dd>
          <dt>備考</dt>
          <dd><input type="text" class="form__item-readonly-style" name="bikou" value="<%= person.bikou %>" disabled>
          </dd>
          <div class="form__btn">
            <% if (locals.user.role === '社員') { %>
              <% if (person.ymd_kaiyaku === '99991231') { %>
            <a class="btn-base" href="/person/update/<%= person.id %>">更新</a>
            <input id="cancelbtn" class="btn-base" type="button" value="解約">
            <% } else { %>
            <a class="btn-base" href="/person/delete/<%= person.id %>">削除</a>
            <% } %>
          <% } %>
            <a class="btn-move" href="/company/<%= person.id_company %>">会社情報へ</a>
            <a class="btn-move" href="/">入居者検索へ</a>
            <input type="hidden" name="id" value="<%= person.id %>">
            <input type="hidden" name="id_company" value="<%= person.id_company %>">
            <input type="hidden" name="selected_ymd_kaiyaku" id="selected_ymd_kaiyaku" value="">
          </div>
        </dl>
      </form>
    </div>
  </section>
</body>
<script>

  let cancelbtn = document.getElementById("cancelbtn");
  cancelbtn.addEventListener('click', function () {
    scrollTo(0, 0);
    let msg = document.getElementsByClassName("msg")[0];
    msg.style.visibility = "visible";
  });
  let okbtn = document.getElementsByClassName("msgarea__okbtn")[0];
  let ngbtn = document.getElementsByClassName("msgarea__ngbtn")[0];
  okbtn.addEventListener('click', function () {
    let select = document.getElementById("select_ymd_kaiyaku");
    let selected = document.getElementById("selected_ymd_kaiyaku");
    if (select.value) {
      selected.value = select.value;
      document.cancelForm.submit();
    } else {
      select.style.backgroundColor = "rgba(255, 0, 0, 0.3)";
      return false;
    }
  });
  ngbtn.addEventListener('click', function () {
    let msg = document.getElementsByClassName("msg")[0];
    msg.style.visibility = "hidden";
  });

</script><%- include("./common/javascripts.ejs") %>

</html>