<!DOCTYPE html>
<html>

<head>
  <title>個人</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>個人</h1>
    ID:<%= person.id %>
    ID_COMPANY:<a href="/company/<%= person.id_company %>"><%= person.id_company %></a>
    NAME:<%= person.name %>
    KANA:<%= person.kana %>
    TELNO:<%= person.telno %>
    TELNO_MOBILE:<%= person.telno_mobile %>
    EMAIL:<%= person.email %>
    NO_YUBIN:<%= person.no_yubin %>
    TODOUFUKEN:<%= person.todoufuken %>
    ADDRESS:<%= person.address %>
    BIKOU:<%= person.bikou %>
</body>

</html>