<!DOCTYPE html>
<html>

<head>
  <title>個人</title>
  <%- include("./common/stylesheets.ejs") %>
</head>

<body>
  <%- include("./common/header.ejs") %>
  <section class="main">
    <div class="msg">
      <div class="msgarea">
        <p class="msgarea__text">解約します。<br>よろしいですか？</p>
        <button class="msgarea__okbtn">はい</button>
        <button class="msgarea__ngbtn">いいえ</button>
      </div>
    </div>
    <div class="main__wrapper">
      <div class="area-link">
        <a class="btn-link" href="/">TOPへ</a>
        <% if (person.id_company) { %>
          <a class="btn-link" href="/company/<%= person.id_company %>  ">会社へ</a>
        <% } %>
      </div>
      <h1 class="title"><%= person.name %></h1>
      <form name="cancelForm" class="cancel__form" method="POST" action="/person/cancel">
          <dl>
          <dt>個人番号</dt>
          <dd><input type="text" class="form__item-readonly-style" name="id" value="<%= person.id %>" disabled></dd>
          <dt>会社番号</dt>
          <dd><input type="text" class="form__item-readonly-style" name="companyname" value="<%= companyname %>" disabled></dd>
          <dt>個人名</dt>
          <dd><input type="text" class="form__item-readonly-style" name="name" value="<%= person.name %>" disabled></dd>
          <dt>個人名カナ</dt>
          <dd><input type="text" class="form__item-readonly-style" name="kana" value="<%= person.kana %>" disabled></dd>
          <dt>電話番号</dt>
          <dd><input type="text" class="form__item-readonly-style" name="telno" value="<%= person.telno %>" disabled></dd>
          <dt>携帯電話番号</dt>
          <dd><input type="text" class="form__item-readonly-style" name="telno_mobile" value="<%= person.telno_mobile %>"
              disabled>
          </dd>
          <dt>メールアドレス</dt>
          <dd><input type="text" class="form__item-readonly-style" name="email" value="<%= person.email %>" disabled></dd>
          <dt>郵便番号</dt>
          <dd><input type="text" class="form__item-readonly-style" name="no_yubin" value="<%= person.no_yubin %>" disabled></dd>
          <dt>都道府県</dt>
          <dd><input type="text" class="form__item-readonly-style" name="todoufuken" value="<%= person.todoufuken %>" disabled>
          </dd>
          <dt>住所</dt>
          <dd><input type="text" class="form__item-readonly-style" name="address" value="<%= person.address %>" disabled></dd>
          <dt>備考</dt>
          <dd><input type="text" class="form__item-readonly-style" name="bikou" value="<%= person.bikou %>" disabled></dd>
          <div class="form__btn">
            <input id="cancelbtn" class="btn-base" type="button" value="解約">
            <a class="btn-base" href="/person/update/<%= person.id %>">更新</a>
            <a class="btn-base" href="/person/delete/<%= person.id %>">削除</a>
            <input type="hidden" name="id" value="<%= person.id %>">
            <input type="hidden" name="id_company" value="<%= person.id_company %>">
        </div>
        </dl>
      </form>
    </div>
  </section>
</body>
<script>

  let cancelbtn = document.getElementById("cancelbtn");
  cancelbtn.addEventListener('click', function () {
    let msg = document.getElementsByClassName("msg")[0];
    msg.style.visibility = "visible";
  });
  let okbtn = document.getElementsByClassName("msgarea__okbtn")[0];
  let ngbtn = document.getElementsByClassName("msgarea__ngbtn")[0];
  okbtn.addEventListener('click', function () {
    document.cancelForm.submit();
  });
  ngbtn.addEventListener('click', function () {
    let msg = document.getElementsByClassName("msg")[0];
    msg.style.visibility = "hidden";
  });

</script><%- include("./common/javascripts.ejs") %>

</html>