<!DOCTYPE html>
<html>

<head>
  <title>個人（編集）</title>
  <%- include("./common/stylesheets.ejs") %>
</head>

<body>
  <%- include("./common/header.ejs") %>
  <% if (person) { %>
  <a href="/person/<%= person.id %>">戻る</a>
  <% } else { %>
  <a href="/top">戻る</a>
  <% } %>
  <hr>
  <% if (errors) { %>
  <div class="alert alert-danger">
    <%  for (let key in errors) { %>
    <div><%= errors[key] %></div>
    <% } %>
  </div>
  <hr>
  <% } %>
  <h1>個人（編集）</h1>
  <form name="personform" method="POST">
    <dl>
    <!-- ◆登録モード -->
    <% if (mode === 'insert') { %>
      <% if (!person) { %>
        <dt>ID_COMPANY</dt>
        <dd>
        <select name="id_company">
          <option value="" selected>--会社選択--</option>
          <% companies.forEach(function (company) { %>
          <option value="<%= company.id %>"><%= company.name %></option>
          <% }); %>
        </select>
        </dd>
        <dt>NAME</dt>
        <dd><input type="text" name="name" required></dd>
        <dt>KANA</dt>
        <dd><input type="text" name="kana"></dd>
        <dt>TELNO</dt>
        <dd><input type="text" name="telno"></dd>
        <dt>TELNO_MOBILE</dt>
        <dd><input type="text" name="telno_mobile"></dd>
        <dt>EMAIL</dt>
        <dd><input type="text" name="email"></dd>
        <dt>NO_YUBIN</dt>
        <dd><input type="text" name="no_yubin"></dd>
        <dt>TODOUFUKEN</dt>
        <dd><input type="text" name="todoufuken"></dd>
        <dt>ADDRESS</dt>
        <dd><input type="text" name="address"></dd>
        <dt>BIKOU</dt>
        <dd><input type="text" name="bikou"></dd>
      <% } else { %>
        <dt>ID_COMPANY</dt>
        <dd>
        <select name="id_company">
          <% if (!person.id_company) { %>
          <option value="" selected>--会社選択--</option>
          <% } else { %>
          <option value="">--会社選択--</option>
          <% } %>
          <% companies.forEach(function (company) { %>
          <% if (company.id === person.id_company) { %>
          <option value="<%= company.id %>" selected><%= company.name %></option>
          <% } else { %>
          <option value="<%= company.id %>"><%= company.name %></option>
          <% } %>
          <% }); %>
        </select>
        </dd>
        <dt>NAME</dt>
        <dd><input type="text" name="name" value="<%= person.name %>" required></dd>
        <dt>KANA</dt>
        <dd><input type="text" name="kana" value="<%= person.kana %>"></dd>
        <dt>TELNO</dt>
        <dd><input type="text" name="telno" value="<%= person.telno %>"></dd>
        <dt>TELNO_MOBILE</dt>
        <dd><input type="text" name="telno_mobile" value="<%= person.telno_mobile %>"></dd>
        <dt>EMAIL</dt>
        <dd><input type="text" name="email" value="<%= person.email %>"></dd>
        <dt>NO_YUBIN</dt>
        <dd><input type="text" name="no_yubin" value="<%= person.no_yubin %>"></dd>
        <dt>TODOUFUKEN</dt>
        <dd><input type="text" name="todoufuken" value="<%= person.todoufuken %>"></dd>
        <dt>ADDRESS</dt>
        <dd><input type="text" name="address" value="<%= person.address %>"></dd>
        <dt>BIKOU</dt>
        <dd><input type="text" name="bikou" value="<%= person.bikou %>"></dd>
      <% } %>
      <input type="button" id="btn_insert" value="登録">
    <!-- ◆更新モード -->
    <% } else if (mode === 'update') { %>
      <dt>ID</dt>
      <dd><%= person.id %></dd>
      <input type="hidden" name="id" value="<%= person.id %>">
      <dt>ID_COMPANY</dt>
      <dd>
      <select name="id_company">
        <% if (!person.id_company) { %>
        <option value="" selected>--会社選択--</option>
        <% } %>
        <% companies.forEach(function (company) { %>
        <% if (company.id === person.id_company) { %>
        <option value="<%= company.id %>" selected><%= company.name %></option>
        <% } else { %>
        <option value="<%= company.id %>"><%= company.name %></option>
        <% } %>
        <% }); %>
      </select>
      </dd>
      <dt>NAME</dt>
      <dd><input type="text" name="name" value="<%= person.name %>" required></dd>
      <dt>KANA</dt>
      <dd><input type="text" name="kana" value="<%= person.kana %>"></dd>
      <dt>TELNO</dt>
      <dd><input type="text" name="telno" value="<%= person.telno %>"></dd>
      <dt>TELNO_MOBILE</dt>
      <dd><input type="text" name="telno_mobile" value="<%= person.telno_mobile %>"></dd>
      <dt>EMAIL</dt>
      <dd><input type="text" name="email" value="<%= person.email %>"></dd>
      <dt>NO_YUBIN</dt>
      <dd><input type="text" name="no_yubin" value="<%= person.no_yubin %>"></dd>
      <dt>TODOUFUKEN</dt>
      <dd><input type="text" name="todoufuken" value="<%= person.todoufuken %>"></dd>
      <dt>ADDRESS</dt>
      <dd><input type="text" name="address" value="<%= person.address %>"></dd>
      <dt>BIKOU</dt>
      <dd><input type="text" name="bikou" value="<%= person.bikou %>"></dd>
      <input type="button" id="btn_update" value="更新">
    <!-- ◆削除モード -->
    <% } else { %>
      <dt>ID</dt>
      <dd><%= person.id %></dd>
      <input type="hidden" name="id" value="<%= person.id %>">
      <dt>ID_COMPANY</dt>
      <dd><%= person.id_company %></dd>
      <input type="hidden" name="id_company" value="<%= person.id_company %>">
      <dt>NAME</dt>
      <dd><%= person.name %></dd>
      <dt>KANA</dt>
      <dd><%= person.kana %></dd>
      <dt>TELNO</dt>
      <dd><%= person.telno %></dd>
      <dt>TELNO_MOBILE</dt>
      <dd><%= person.telno_mobile %></dd>
      <dt>EMAIL</dt>
      <dd><%= person.email %></dd>
      <dt>NO_YUBIN</dt>
      <dd><%= person.no_yubin %></dd>
      <dt>TODOUFUKEN</dt>
      <dd><%= person.todoufuken %></dd>
      <dt>ADDRESS</dt>
      <dd><%= person.address %></dd>
      <dt>BIKOU</dt>
      <dd><%= person.bikou %></dd>
      <input type="button" id="btn_delete" value="削除">
    <% } %>
    <input type="hidden" id="field_mode">
    </dl>
  </form>
  <script>
    let insertbtn = document.getElementById("btn_insert");
    if (insertbtn) {
      insertbtn.addEventListener("click", function () {
        document.personform.action = "/person/insert";
        document.personform.submit();
      })
    }
    let updatebtn = document.getElementById("btn_update");
    if (updatebtn) {
      updatebtn.addEventListener("click", function () {
        document.personform.action = "/person/update";
        document.personform.submit();
      })
    }
    let deletebtn = document.getElementById("btn_delete");
    if (deletebtn) {
      deletebtn.addEventListener("click", function () {
        document.personform.action = "/person/delete";
        document.personform.submit();
      })
    }
  </script>
</body>
<%- include("./common/javascripts.ejs") %>
</html>